<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/8e0ab6ba-bfe8-439f-8613-203c4609221e/resourceGroups/Linux_test/providers/Microsoft.Web/sites/gc-linux-api</ResourceId>
    <ResourceGroup>Linux_test</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://gc-linux-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4002bbe8-2766-448a-831f-b2538ddd351b</ProjectGuid>
    <PublishUrl>https://gc-linux-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$gc-linux-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>